.page {
  width: 100%;
  padding: 20px 10%;
  min-height: 600px;

  .title {
    font-size: 34px;
    margin-left: 4px;
  }

  .tableRows {
    background: #ffffff;
    height: 120px;
  }

  .tableColumns {
    text-align: center;
  }

  .tableFoot {
    width: 100%;
    height: 100%;
    padding: 0 20px 0 30px;

    .tableFootThirdRow {
      width: 100%;
      height: 100%;
    }

    .tableFootThirdRowOneCol {
      text-align: right;
      margin-right: 10px;
    }

    .tableFootThirdRowSecondCol {
      text-align: left;
      margin-left: 10px;
    }

    .tableFootHighLight {
      color: #d44d44;
      font-weight: 600;
    }

    @media screen and (max-width: 768px) {
      .tableFootThirdRowOneCol {
        text-align: left;
        margin-right: 0;
        margin-bottom: 4px;
      }

      .tableFootThirdRowSecondCol {
        margin-left: 0;
        margin-bottom: 4px;
      }
    }
  }

  :global {
    .ant-table {
      border-color: rgba(0, 0, 0, 0.09);
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
      border-radius: 8px;
    }

    //修改页脚
    .ant-table-footer {
      padding: 0;
      height: 73px;
      background: #fbfbfb;
      border-radius: 0 0 8px 8px;
      width: 100%;
    }

    //修改表头
    .ant-table-thead > tr > th {
      font-weight: 600;
      height: 73px;
      background: #fbfbfb !important;
    }

    //去除鼠标悬浮的背景色
    .ant-table-tbody > tr > td {
      background: rgba(255, 255, 255, 0) !important;
    }
    .ant-table-tbody > tr > td:hover {
      background: rgba(255, 255, 255, 0) !important;
    }

    @media screen and (max-width: 768px) {
      .ant-table-footer {
        height: 120px;
      }
    }
  }
}
