.page {
  padding: 0 10% 0 10%;
}

.content {
  padding: 0;
  margin-bottom: 40px;
}

.carouselContent {
  padding: 20px 0 20px 0;

  .carouselImg {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}
