.page {
  width: 100%;
  padding: 0 10% 0 10%;
}

.sider {
  width: 100%;
  padding: 20px 0;
  min-height: 500px;
  margin: 20px 0 20px 0;
  border-radius: 8px;

  .menu {
    width: 100%;
    border-radius: 8px;
  }

  .row {
    color: #f5f5f5;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

:global {
  .ant-radio-button-wrapper {
    border-radius: 0;
    &:first-child {
      border-radius: 0;
    }
    &:last-child {
      border-radius: 0;
    }
  }
}
