.headerRow {
  height: 40px;
  width: 100%;
  line-height: 100px;
}

.logo {
  border-radius: 50%;
  width: 80%;
  height: auto;
  max-width: 40px;
  margin-left: 10px;
}

.navText {
  color: #c0c0c0;
  font-size: 16px;
}

.navImg {
  width: 25px;
  height: 25px;
}

.popoverContent {
  width: 140px;
  text-align: center;

  .name {
    width: 100%;
    padding: 14px 10px;
    font-size: 12px;
  }

  .button {
    height: 40px;
    font-size: 12px;
  }
}

:global {
  .ant-popover-inner-content {
    padding: 14px 0 0 0;
  }

  .ant-btn {
    border-radius: 0;
  }
}
